* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

:root {
    --Tomato: hsl(4, 100%, 67%);
    --DarkSlateGrey: hsl(234, 29%, 20%);
    --CharcoalGrey: hsl(235, 18%, 26%);
    --Grey: hsl(231, 7%, 60%);
    --White: hsl(0, 0%, 100%);
    --TomatoSecondary: hsl(346, 100%, 66%);
}

/* style in mobile */
.top-mobile {
    display: none;
}

/* end */

body {
    height: 620px;
    background-color: var(--CharcoalGrey);
    display: grid;
    place-items: center;
    place-content: center;
}

.hero-section {
    width: 45rem;
    height: 29rem;
    background-color: var(--White);
    border-radius: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    place-content: center;
}

.right-side {
    position: relative;
    left: 1rem;
}

.left-side {
    position: relative;
    left: 3rem;
}

.headline {
    position: relative;
    top: -1rem;
}

.desktop-img {
    width: 18rem;
}

.headline h1 {
    color: var(--DarkSlateGrey);
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 2;
}

p {
    font-size: 0.9rem;
    font-weight: 400;
    width: 90%;
    color: var(--DarkSlateGrey);
}

.discription-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding-bottom: 10px;
}

.btn {
    padding: 0.7rem 1rem;
    border-radius: 0.5rem;
}

button {
    width: 90%;
    cursor: pointer;
    border: none;
    font-weight: 700;
    color: var(--White);
    background-color: var(--DarkSlateGrey);
}

button:focus-visible,
button:hover {
    background: linear-gradient(90deg,
            var(--TomatoSecondary),
            var(--Tomato));
    box-shadow: 0 1rem 2.5rem -0.5rem var(--Tomato);
}

.input {
    width: 90%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border: 0.063rem solid var(--Grey);
    border-radius: 0.5rem;
    outline: none;
    font-weight: inherit;
    color: inherit;
}

.input:focus {
    border-color: var(--DarkSlateGrey);
}

form {
    position: relative;
    top: 1rem;
}

/* .subscribe {
    
} */

.thanks {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 4rem 4rem;
    text-align: center;
    width: 30rem;
    height: 25rem;
    background-color: var(--White);
    border-radius: 20px;
}

.thanks img {
    margin: 2rem;
}

.thanks h2 {
    margin-bottom: 1rem;
}

.thanks p {
    margin-bottom: 1rem;
}

.email-value {
    font-weight: 700;
}



.hidden {
    display: none !important;
}


.label,
.error-text {
    font-size: 0.75rem;
    font-weight: 700;
}


.error-text {
    grid-area: item-2;
    text-align: right;
    color: var(--Tomato);
}

.error-input {
    border-color: var(--Tomato) !important;
    /* background-color: var(--Tomato) !important; */
    color: var(--Tomato) !important;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media only screen and (max-width: 600px) {
    body {
        background-color: var(--White);
    }

    .top-mobile img{
        width: 100%;
    }

    .top-mobile {
        display: block;
        
    }

    .right-side {
        display: none;
    }

    .hero-section {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        width: 99%;
        height: 100vh;
        position: relative;
        top: -1.5rem;
    }

    .left-side {
        position: relative;
        left: 0.5rem;
        width: inherit;
    }

    p {
        width: 75%;
    }

    .thanks {
        width: 100%;
        margin: 5rem 2rem;
    }

    .discription-inner {
        justify-content: start;
        gap: 1rem;
        padding-bottom: 10px;
    }
}